<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <link href="/static/css/jquery.countdown.css" rel="stylesheet">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60168407-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body class="loginbg">
<div class="container" style="width: 96% !important;">
         <div class="row">
            <div class="col-md-4 logoacm">
            </div>
            <div class="col-md-8 lgnwelcome">
                 DJSCE ACM Codeception Round 1
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 welcim">
                 All submissions before 7.30 will be not be considered!
                 No penalties will be imposed
                 Contest will be on till midnight!
            </div>
        </div>
         <div class="row hometoprow">
         <div class="col-md-2">
             <a style="margin-top: 2.5em;" href="/instructions/" class="btn loginformdiv btn-lg btn-info btn-block">Instructions</a>
         </div>
         <div class="col-md-4 col-md-offset-2 timerwelcome yolo" style="line-height: 2em;"></div>
         <div class="col-md-2 col-md-offset-2">
             <a style="margin-top: 2.5em;" href="/logout/" class="btn loginformdiv btn-lg btn-danger btn-block">Sign out!</a>
         </div>
         </div>
         <div class="row">
             <div class="questiontype col-md-12">
                Multiple Choice Questions
            </div>
         </div>
         {% for question in mcq_questions_list %}
             <div class="row questionbg">
                 <div class="pull-left ranktext">Question  {{ forloop.counter }}</div>
                 <div class="pull-right">
{#               <a style="margin-top: 0.8em;" href="/questions/?no={{ forloop.counter }}" class="btn sbtn loginformdiv btn-lg {% if question.1 == True  %}btn-success{% elif question.1 == False %}btn-danger solvebtn{% else %}btn-info{% endif %} btn-block">{% if question.1 == True  %}Solved!{% elif question.1 == False %}Incorrect!{% else %}Solve Challenge{% endif %}</a>#}
                 <a style="margin-top: 0.8em;" href="/mcqquestions/?no={{ question.0.pk }}" class="btn sbtn loginformdiv btn-lg {% if question.1 == True  %}btn-success{% elif question.1 == False %}btn-success {% else %}btn-info{% endif %} btn-block">{% if question.1 == True  %}Submitted!{% elif question.1 == False %}Submitted!{% else %}Solve Challenge{% endif %}</a>
                 </div>
                 <div class="pull-right ranktext"> Points :  {{question.0.marks }}</div>
             <div class="pull-right"></div>
             </div>
         {% endfor %}
         <div class="row">
             <div class="questiontype col-md-12">
                Logic Based I/O Questions
            </div>
         </div>
         {% for question in questions_list %}
             <div class="row questionbg">
                 <div class="pull-left ranktext">Question  {{ forloop.counter }}</div>
                 <div class="pull-right">
{#               <a style="margin-top: 0.8em;" href="/questions/?no={{ forloop.counter }}" class="btn sbtn loginformdiv btn-lg {% if question.1 == True  %}btn-success{% elif question.1 == False %}btn-danger solvebtn{% else %}btn-info{% endif %} btn-block">{% if question.1 == True  %}Solved!{% elif question.1 == False %}Incorrect!{% else %}Solve Challenge{% endif %}</a>#}
                 <a style="margin-top: 0.8em;" href="/questions/?no={{ question.0.pk }}" class="btn sbtn loginformdiv btn-lg {% if question.1 == True  %}btn-success{% elif question.1 == False %}btn-success {% else %}btn-info{% endif %} btn-block">{% if question.1 == True  %}Submitted!{% elif question.1 == False %}Submitted!{% else %}Solve Challenge{% endif %}</a>
                 </div>
                 <div class="pull-right ranktext"> Points :  {{question.0.marks }}</div>
             <div class="pull-right"></div>
             </div>
         {% endfor %}
{#         <div class="row" style="text-align: center;">#}
{#             <div class=" col-md-2 col-md-offset-5">#}
{#                <a style="margin-top: 1em;" href="/scoreboard/" class="btn loginformdiv btn-lg btn-success btn-block">Scoreboard</a>#}
{#            </div>#}
{#         </div>#}
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.plugin.min.js"></script>
<script src="/static/js/jquery.countdown.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/app.min.js"></script>
<script>
$(document).ready(function(){
    settimer('{{ request.session.starttime }}',parseInt({{ request.session.timeout }}))
});
</script>
</body>
</html>
